@tailwind base;
@tailwind utilities;
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
  max-width: none;
}

::-webkit-scrollbar {
  @apply w-2;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  @apply rounded-lg bg-gray-400;
}
